<h2>Validaciones Reactivas [<small>Registro</small>]</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off">
            <!-- Input para el Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre:</label>
                <div class="col-sm-9">
                    <input 
                        type="text"
                        class="form-control"
                        placeholder="Nombre del ususario"
                    >
                    <span class="form-text text-danger">
                        Debe de ser en formato de nombre y apellido
                    </span>
                </div>
                
            </div>
            <!-- -------------------- -->
            <!-- Input para el Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email:</label>
                <div class="col-sm-9">
                    <input 
                        type="email"
                        class="form-control"
                        placeholder="Email del ususario"
                    >
                </div>
                
            </div>
            <!-- ------------------- -->
            <!-- Input para el Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username:</label>
                <div class="col-sm-9">
                    <input 
                        type="text"
                        class="form-control"
                        placeholder="Nombre código del ususario"
                    >
                </div>
                
            </div>
            <!-- ---------------------- -->
            <!-- Input para el Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Contraseña:</label>
                <div class="col-sm-9">
                    <input 
                        type="password"
                        class="form-control"
                        placeholder="Contraseña del ususario"
                    >
                </div>
                
            </div>
            <!-- ---------------------- -->
            <!-- Input para el confirmar Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar:</label>
                <div class="col-sm-9">
                    <input 
                        type="password"
                        class="form-control"
                        placeholder="Confirmar la contraseña"
                    >
                </div>
                
            </div>
            <!-- ---------------------- -->

            <div class="row">
                <div class="col">
                    <button 
                        class="btn btn-success float-end"
                    >
                        Crear
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>