<h2>Reactivo: <small>Dinámicos</small></h2>
<hr>

<!-- Form -->
<form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
    <!-- Campo para ingresar el nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre: </label>
        <div class="col-sm-9">
            <input 
                class="form-control"
                placeholder="Nombre de la persona"
                formControlName="nombre"
            >
            <!-- Mensaje de error -->
            <span 
                class="form-text text-danger"
                *ngIf="validarNombre('nombre')"
            >
                Este campo es obligatorio!!
            </span>
            <!-- ---------------- -->
        </div>
    </div>
    <!-- ----------------------------- -->
    <!-- Campo para ingresar el Agregar -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar: </label>
        <div class="col-sm-9">
            <div class="input-group">
                <input 
                    class="form-control"
                    placeholder="Agregar favorito"
                    [formControl]="nuevoFavorito"
                    (keyup.enter)="agregarFavorito()"
                >
                <button
                    class="btn btn-outline-primary"
                    type="button"
                    (click)="agregarFavorito()"
                >
                    Agregar
                </button>
            </div>
        </div>
    </div>
    <!-- ------------------------------ -->
    <!-- Lista de juegos favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos: </label>
        <div 
            class="col-sm-9"
            formArrayName="favoritos"
        >
            <!-- Boton de eliminar de momento comentado -->
            <div 
                class="input-group mb-1"
                *ngFor="let favorito of favoritosArr.controls; let i = index"
            >
                <input 
                    class="form-control"
                    [formControlName]="i"
                >
                <button
                    class="btn btn-outline-danger"
                    type="button"
                    (click)="eliminarFavorito(i)"
                >
                    Eliminar
                </button>
            </div>
            <!-- -------------------------------------- -->
        </div>
    </div>
    <!-- ------------------------- -->

    <!-- Boton para guardar -->
    <div class="row">
        <div class="col-sm">
            <button
                type="submit"
                class="btn btn-primary float-end"
            >
                Guardar
            </button>
        </div>
    </div>
<!-- ------------------ -->
</form>
<!-- Form -->


<!-- Mostrar los datos -->
<hr>
<span>Valid</span>
<pre>{{ miFormulario.valid | json }}</pre>
<hr>
<span>Value</span>
<pre>{{ miFormulario.value | json }}</pre>
<hr>
<span>Agregar Juego</span>
<pre>{{ nuevoFavorito.value | json }}</pre>
<span>Valid</span>
<pre>{{ nuevoFavorito.valid | json }}</pre>
<hr>

<!-- <span>Persona: </span>
<pre>{{ persona | json }}</pre> -->
<!-- ----------------- -->